In [1]:
# 내 드라이브와 연결
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# 기본 라이브러리
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 경고 뜨지 않게
import warnings
warnings.filterwarnings('ignore')

#저장라이브러
import pickle

# 평가함수
# 분류용
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score

# 회귀용
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [3]:
# 마케팅정보 데이터 불러오기
# df1 = pd.read_csv('train_마케팅정보.csv')
df1 = pd.read_csv('/content/drive/MyDrive/Final Project/train_마케팅정보.csv')
df1.head()

,기준년월,ID,컨택건수_카드론_TM_B0M,컨택건수_리볼빙_TM_B0M,컨택건수_CA_TM_B0M,컨택건수_이용유도_TM_B0M,컨택건수_신용발급_TM_B0M,컨택건수_부대서비스_TM_B0M,컨택건수_포인트소진_TM_B0M,컨택건수_보험_TM_B0M,...,컨택건수_카드론_당사앱_R6M,컨택건수_CA_당사앱_R6M,컨택건수_리볼빙_당사앱_R6M,컨택건수_이용유도_당사앱_R6M,컨택건수_채권_B0M,컨택건수_FDS_B0M,컨택건수_채권_R6M,컨택건수_FDS_R6M,캠페인접촉건수_R12M,캠페인접촉일수_R12M
0,201807,TRAIN_000000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1회 이상,1일 이상
1,201807,TRAIN_000001,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,15회 이상,10일 이상
2,201807,TRAIN_000002,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1회 이상,1일 이상
3,201807,TRAIN_000003,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1회 이상,1일 이상
4,201807,TRAIN_000004,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1회 이상,1일 이상

In [4]:
# 회원정보 데이터 불러오기
# df2 = pd.read_csv('train_회원정보.csv')
df2 = pd.read_csv('/content/drive/MyDrive/Final Project/train_회원정보.csv')
df2.head()

,기준년월,ID,남녀구분코드,연령,Segment,회원여부_이용가능,회원여부_이용가능_CA,회원여부_이용가능_카드론,소지여부_신용,소지카드수_유효_신용,...,할인금액_제휴연회비_B0M,청구금액_기본연회비_B0M,청구금액_제휴연회비_B0M,상품관련면제카드수_B0M,임직원면제카드수_B0M,우수회원면제카드수_B0M,기타면제카드수_B0M,카드신청건수,Life_Stage,최종카드발급경과월
0,201807,TRAIN_000000,2,40대,D,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(2),22
1,201807,TRAIN_000001,1,30대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(1),18
2,201807,TRAIN_000002,1,30대,C,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀출산기,20
3,201807,TRAIN_000003,2,40대,D,1,1,0,1,2,...,0,0,0,0개,0개,0개,0개,1,자녀성장(2),17
4,201807,TRAIN_000004,2,40대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,1,자녀성장(1),15

In [5]:
# 필요한 컬럼만 추출해서 df2를 준비
df2_reduced = df2[['ID', '기준년월', 'Segment']]

# ID와 기준년월 기준으로 병합 (left join)
df_merged = pd.merge(df1, df2_reduced, on=['ID', '기준년월'], how='left')

In [6]:
df_merged

,기준년월,ID,컨택건수_카드론_TM_B0M,컨택건수_리볼빙_TM_B0M,컨택건수_CA_TM_B0M,컨택건수_이용유도_TM_B0M,컨택건수_신용발급_TM_B0M,컨택건수_부대서비스_TM_B0M,컨택건수_포인트소진_TM_B0M,컨택건수_보험_TM_B0M,...,컨택건수_CA_당사앱_R6M,컨택건수_리볼빙_당사앱_R6M,컨택건수_이용유도_당사앱_R6M,컨택건수_채권_B0M,컨택건수_FDS_B0M,컨택건수_채권_R6M,컨택건수_FDS_R6M,캠페인접촉건수_R12M,캠페인접촉일수_R12M,Segment
0,201807,TRAIN_000000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1회 이상,1일 이상,D
1,201807,TRAIN_000001,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,15회 이상,10일 이상,E
2,201807,TRAIN_000002,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1회 이상,1일 이상,C
3,201807,TRAIN_000003,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1회 이상,1일 이상,D
4,201807,TRAIN_000004,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1회 이상,1일 이상,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1회 이상,1일 이상,E
2399996,201812,TRAIN_399996,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,20회 이상,15일 이상,D
2399997,201812,TRAIN_399997,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1회 이상,1일 이상,C
2399998,201812,TRAIN_399998,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1회 이상,1일 이상,E
2399999,201812,TRAIN_399999,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1회 이상,1일 이상,E

In [7]:
# 데이터 요약정보 확인
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400000 entries, 0 to 2399999
Data columns (total 65 columns):
 #   Column             Dtype
---  ------             -----
 0   기준년월               int64
 1   ID                 object
 2   컨택건수_카드론_TM_B0M    int64
 3   컨택건수_리볼빙_TM_B0M    int64
 4   컨택건수_CA_TM_B0M     int64
 5   컨택건수_이용유도_TM_B0M   int64
 6   컨택건수_신용발급_TM_B0M   int64
 7   컨택건수_부대서비스_TM_B0M  int64
 8   컨택건수_포인트소진_TM_B0M  int64
 9   컨택건수_보험_TM_B0M     int64
 10  컨택건수_카드론_LMS_B0M   int64
 11  컨택건수_CA_LMS_B0M    int64
 12  컨택건수_리볼빙_LMS_B0M   int64
 13  컨택건수_이용유도_LMS_B0M  int64
 14  컨택건수_카드론_EM_B0M    int64
 15  컨택건수_CA_EM_B0M     int64
 16  컨택건수_리볼빙_EM_B0M    int64
 17  컨택건수_이용유도_EM_B0M   int64
 18  컨택건수_카드론_청구서_B0M   int64
 19  컨택건수_CA_청구서_B0M    int64
 20  컨택건수_리볼빙_청구서_B0M   int64
 21  컨택건수_이용유도_청구서_B0M  int64
 22  컨택건수_카드론_인터넷_B0M   int64
 23  컨택건수_CA_인터넷_B0M    int64
 24  컨택건수_리볼빙_인터넷_B0M   int64
 25  컨택건수_이용유도_인터넷_B0M  int64
 26  컨택건수_카드론_당사앱_B0M   int64
 27  컨택건수_CA_당사앱_B0M    int64
 28  컨택건수_리볼빙_당사앱_B0M   int64
 29  컨택건수_이용유도_당사앱_B0M  int64
 30  컨택건수_카드론_TM_R6M    int64
 31  컨택건수_CA_TM_R6M     int64
 32  컨택건수_리볼빙_TM_R6M    int64
 33  컨택건수_이용유도_TM_R6M   int64
 34  컨택건수_신용발급_TM_R6M   int64
 35  컨택건수_부대서비스_TM_R6M  int64
 36  컨택건수_포인트소진_TM_R6M  int64
 37  컨택건수_보험_TM_R6M     int64
 38  컨택건수_카드론_LMS_R6M   int64
 39  컨택건수_CA_LMS_R6M    int64
 40  컨택건수_리볼빙_LMS_R6M   int64
 41  컨택건수_이용유도_LMS_R6M  int64
 42  컨택건수_카드론_EM_R6M    int64
 43  컨택건수_CA_EM_R6M     int64
 44  컨택건수_리볼빙_EM_R6M    int64
 45  컨택건수_이용유도_EM_R6M   int64
 46  컨택건수_카드론_청구서_R6M   int64
 47  컨택건수_CA_청구서_R6M    int64
 48  컨택건수_리볼빙_청구서_R6M   int64
 49  컨택건수_이용유도_청구서_R6M  int64
 50  컨택건수_카드론_인터넷_R6M   int64
 51  컨택건수_CA_인터넷_R6M    int64
 52  컨택건수_리볼빙_인터넷_R6M   int64
 53  컨택건수_이용유도_인터넷_R6M  int64
 54  컨택건수_카드론_당사앱_R6M   int64
 55  컨택건수_CA_당사앱_R6M    int64
 56  컨택건수_리볼빙_당사앱_R6M   int64
 57  컨택건수_이용유도_당사앱_R6M  int64
 58  컨택건수_채권_B0M        int64
 59  컨택건수_FDS_B0M       int64
 60  컨택건수_채권_R6M        int64
 61  컨택건수_FDS_R6M       int64
 62  캠페인접촉건수_R12M       object
 63  캠페인접촉일수_R12M       object
 64  Segment            object
dtypes: int64(61), object(4)
memory usage: 1.2+ GB

In [8]:
# 데이터 결측치 확인
df_merged.isnull().sum().sum()

np.int64(0)

In [9]:
# 데이터프레임에서 object 또는 category 타입 열만 추출
categorical_cols = df_merged.select_dtypes(include=['object', 'category']).columns
categorical_cols

Index(['ID', '캠페인접촉건수_R12M', '캠페인접촉일수_R12M', 'Segment'], dtype='object')

In [10]:
# '캠페인접촉건수_R12M'의 고유값 분포(범주 구성 및 빈도) 확인
df_merged['캠페인접촉건수_R12M'].value_counts()

캠페인접촉건수_R12M
1회 이상     1719595
5회 이상      374546
10회 이상     146157
15회 이상      96869
20회 이상      62828
25회 이상          5
Name: count, dtype: int64

In [11]:
# 병합한 원본데이터(df_merged)는 유지하고, 복사본(df_converted)을 생성
df_converted = df_merged.copy()

# '캠페인접촉건수_R12M' 범주를 숫자로 바꿔준다.
mapping = {
    '1회 이상': 1,
    '5회 이상': 2,
    '10회 이상': 3,
    '15회 이상': 4,
    '20회 이상': 5,
    '25회 이상': 6
}

df_converted['캠페인접촉건수_R12M'] = df_converted['캠페인접촉건수_R12M'].replace(mapping)
df_converted['캠페인접촉건수_R12M'].value_counts()

캠페인접촉건수_R12M
1    1719595
2     374546
3     146157
4      96869
5      62828
6          5
Name: count, dtype: int64

In [12]:
# '캠페인접촉일수_R12M'의 고유값 분포(범주 구성 및 빈도) 확인
df_merged['캠페인접촉일수_R12M'].value_counts()

캠페인접촉일수_R12M
1일 이상     1754523
5일 이상      365606
10일 이상     141573
15일 이상     109795
20일 이상      28503
Name: count, dtype: int64

In [13]:
# 복사본(df_converted)데이터를 활용한다.
# '캠페인접촉일수_R12M' 범주를 숫자로 바꿔준다.
mapping = {
    '1일 이상': 1,
    '5일 이상': 2,
    '10일 이상': 3,
    '15일 이상': 4,
    '20일 이상': 5
}

df_converted['캠페인접촉일수_R12M'] = df_converted['캠페인접촉일수_R12M'].replace(mapping)
df_converted['캠페인접촉일수_R12M'].value_counts()

캠페인접촉일수_R12M
1    1754523
2     365606
3     141573
4     109795
5      28503
Name: count, dtype: int64

In [14]:
# 'Segment'의 고유값 분포(범주 구성 및 빈도) 확인
df_merged['Segment'].value_counts()

Segment
E    1922052
D     349242
C     127590
A        972
B        144
Name: count, dtype: int64

In [15]:
# 복사본(df_converted)데이터를 활용한다.
# Segment 데이터를 숫자데이터로 바꾼다.
mapping = {
    'A': 1,
    'B': 2,
    'C': 3,
    'D': 4,
    'E': 5
}

df_converted['Segment'] = df_converted['Segment'].replace(mapping)
df_converted['Segment'].value_counts()

Segment
5    1922052
4     349242
3     127590
1        972
2        144
Name: count, dtype: int64

In [16]:
# 범주형데이터가 숫자데이터로 바뀌었는지 확인
df_converted.select_dtypes(include=['object', 'category']).columns

Index(['ID'], dtype='object')

In [17]:
# 요약된 결과가 아닌, 모든 결과를 보기 위한 코드
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [18]:
# ID 열 제외하고 상관계수 계산
df_corr = df_converted.drop(columns=['ID']).corr()

# 특정 변수('Segment')와의 상관계수만 추출
segment_corr = df_corr['Segment'].drop('Segment')  # 자기 자신 제외

# 절댓값 기준 내림차순 정렬
sorted_corr = segment_corr.loc[segment_corr.abs().sort_values(ascending=False).index]

# 지수표기법이 아닌 상관계수값으로 보기 위한 코드, 전체에 적용되는게 아닌 특정 결과만 소수로 변환해서 보고 싶을 때 사용
display(sorted_corr.apply(lambda x: f"{x:.4f}"))

컨택건수_이용유도_TM_R6M      0.1490
컨택건수_이용유도_EM_R6M     -0.1333
컨택건수_이용유도_EM_B0M     -0.1276
컨택건수_이용유도_청구서_B0M    -0.0815
컨택건수_이용유도_TM_B0M      0.0699
컨택건수_이용유도_인터넷_R6M     0.0626
컨택건수_신용발급_TM_R6M      0.0439
컨택건수_이용유도_LMS_B0M    -0.0412
컨택건수_보험_TM_R6M        0.0297
컨택건수_포인트소진_TM_R6M    -0.0292
컨택건수_이용유도_청구서_R6M    -0.0288
컨택건수_카드론_TM_R6M       0.0242
컨택건수_카드론_LMS_R6M      0.0225
컨택건수_채권_R6M          -0.0220
캠페인접촉일수_R12M          0.0213
캠페인접촉건수_R12M          0.0199
컨택건수_CA_청구서_R6M      -0.0197
컨택건수_이용유도_LMS_R6M    -0.0170
컨택건수_CA_LMS_R6M       0.0167
컨택건수_카드론_EM_R6M      -0.0152
컨택건수_카드론_LMS_B0M     -0.0129
컨택건수_이용유도_인터넷_B0M     0.0122
컨택건수_CA_청구서_B0M      -0.0114
컨택건수_이용유도_당사앱_R6M    -0.0097
컨택건수_리볼빙_TM_R6M       0.0084
컨택건수_리볼빙_LMS_B0M     -0.0072
컨택건수_채권_B0M          -0.0071
컨택건수_카드론_TM_B0M       0.0064
컨택건수_부대서비스_TM_R6M     0.0064
컨택건수_이용유도_당사앱_B0M    -0.0057
컨택건수_카드론_EM_B0M      -0.0049
컨택건수_CA_TM_R6M       -0.0047
컨택건수_카드론_청구서_R6M     -0.0044
컨택건수_리볼빙_LMS_R6M     -0.0032
컨택건수_CA_LMS_B0M      -0.0011
컨택건수_신용발급_TM_B0M      0.0007
컨택건수_리볼빙_TM_B0M       0.0005
컨택건수_부대서비스_TM_B0M     0.0003
컨택건수_카드론_청구서_B0M      0.0002
컨택건수_보험_TM_B0M        0.0000
기준년월                  0.0000
컨택건수_CA_TM_B0M           nan
컨택건수_포인트소진_TM_B0M        nan
컨택건수_CA_EM_B0M           nan
컨택건수_리볼빙_EM_B0M          nan
컨택건수_리볼빙_청구서_B0M         nan
컨택건수_카드론_인터넷_B0M         nan
컨택건수_CA_인터넷_B0M          nan
컨택건수_리볼빙_인터넷_B0M         nan
컨택건수_카드론_당사앱_B0M         nan
컨택건수_CA_당사앱_B0M          nan
컨택건수_리볼빙_당사앱_B0M         nan
컨택건수_CA_EM_R6M           nan
컨택건수_리볼빙_EM_R6M          nan
컨택건수_리볼빙_청구서_R6M         nan
컨택건수_카드론_인터넷_R6M         nan
컨택건수_CA_인터넷_R6M          nan
컨택건수_리볼빙_인터넷_R6M         nan
컨택건수_카드론_당사앱_R6M         nan
컨택건수_CA_당사앱_R6M          nan
컨택건수_리볼빙_당사앱_R6M         nan
컨택건수_FDS_B0M             nan
컨택건수_FDS_R6M             nan
Name: Segment, dtype: object

In [19]:
# NaN인 상관계수만 따로 확인
nan_corr = sorted_corr[sorted_corr.isna()]
display(nan_corr)

컨택건수_CA_TM_B0M      NaN
컨택건수_포인트소진_TM_B0M   NaN
컨택건수_CA_EM_B0M      NaN
컨택건수_리볼빙_EM_B0M     NaN
컨택건수_리볼빙_청구서_B0M    NaN
컨택건수_카드론_인터넷_B0M    NaN
컨택건수_CA_인터넷_B0M     NaN
컨택건수_리볼빙_인터넷_B0M    NaN
컨택건수_카드론_당사앱_B0M    NaN
컨택건수_CA_당사앱_B0M     NaN
컨택건수_리볼빙_당사앱_B0M    NaN
컨택건수_CA_EM_R6M      NaN
컨택건수_리볼빙_EM_R6M     NaN
컨택건수_리볼빙_청구서_R6M    NaN
컨택건수_카드론_인터넷_R6M    NaN
컨택건수_CA_인터넷_R6M     NaN
컨택건수_리볼빙_인터넷_R6M    NaN
컨택건수_카드론_당사앱_R6M    NaN
컨택건수_CA_당사앱_R6M     NaN
컨택건수_리볼빙_당사앱_R6M    NaN
컨택건수_FDS_B0M        NaN
컨택건수_FDS_R6M        NaN
Name: Segment, dtype: float64

In [20]:
# 결과로 Nan이 나온 변수의 고유값 개수 확인
for col in nan_corr.index:
    unique_count = df_converted[col].nunique()
    print(f"'{col}' -> 고유값 개수: {unique_count}")

'컨택건수_CA_TM_B0M' -> 고유값 개수: 1
'컨택건수_포인트소진_TM_B0M' -> 고유값 개수: 1
'컨택건수_CA_EM_B0M' -> 고유값 개수: 1
'컨택건수_리볼빙_EM_B0M' -> 고유값 개수: 1
'컨택건수_리볼빙_청구서_B0M' -> 고유값 개수: 1
'컨택건수_카드론_인터넷_B0M' -> 고유값 개수: 1
'컨택건수_CA_인터넷_B0M' -> 고유값 개수: 1
'컨택건수_리볼빙_인터넷_B0M' -> 고유값 개수: 1
'컨택건수_카드론_당사앱_B0M' -> 고유값 개수: 1
'컨택건수_CA_당사앱_B0M' -> 고유값 개수: 1
'컨택건수_리볼빙_당사앱_B0M' -> 고유값 개수: 1
'컨택건수_CA_EM_R6M' -> 고유값 개수: 1
'컨택건수_리볼빙_EM_R6M' -> 고유값 개수: 1
'컨택건수_리볼빙_청구서_R6M' -> 고유값 개수: 1
'컨택건수_카드론_인터넷_R6M' -> 고유값 개수: 1
'컨택건수_CA_인터넷_R6M' -> 고유값 개수: 1
'컨택건수_리볼빙_인터넷_R6M' -> 고유값 개수: 1
'컨택건수_카드론_당사앱_R6M' -> 고유값 개수: 1
'컨택건수_CA_당사앱_R6M' -> 고유값 개수: 1
'컨택건수_리볼빙_당사앱_R6M' -> 고유값 개수: 1
'컨택건수_FDS_B0M' -> 고유값 개수: 1
'컨택건수_FDS_R6M' -> 고유값 개수: 1